<li class="h-entry post-entry post" id="post-id-{{ post.id }}">
  <div style="" class="content-area">
    <div class="ui green right corner label"><i class="ui retweet icon"></i></div>
    <div class="pad">
      <div class="h-cite u-repost-of repost-content">
        <div class="author u-author h-card">
          <img class="u-photo" src="{{ post.mf2_repost-of.properties.avatar }}" width="48">
          <a class="p-name u-url" href="{{ post.mf2_repost-of.properties.twitter_url }}">{{ post.mf2_repost-of.properties.name }}</a>
          <a class="author_url" href="{{ post.mf2_repost-of.properties.twitter_url }}">{{ post.mf2_repost-of.properties.twitter_url }}</a>
        </div>
        <div class="post-text e-content p-name ">{{ post.mf2_repost-of.properties.summary }}</div>
        <a href="{{ post.mf2_repost-of.properties.url }}" class="u-url"></a>
        <div style="clear:both;"></div>
      </div>
      <span class="p-name"></span>
    </div>

    <div class="metaline pad">
      <a href="{{ post.mf2_repost-of.properties.url }}" class="">
        <time class="dt-published" datetime="2018-10-22T07:29:34+00:00">
          {{ post.mf2_repost-of.properties.date | date: '%B %d, %Y %H:%M' }}
        </time>
      </a>
      <a href="{{ post.permalink }}" class="u-url">
        <time class="dt-published" datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%s' }}">
          (reposted on {{ post.date | date: '%B %d, %Y %H:%M' }})
        </time>
      </a>
      <span class="syndications">
        <a href="https://twitter.com/aaronpk/status/1072560370601086983" class="u-syndication syndication"><i class="twitter icon"></i></a>
      </span>
    </div>
    <a class="u-author" href="/"></a>

    <div style="clear:both;"></div>
  </div>
</li>