{% assign post = include.post %}


{% if post.mf-like-of != null %}
  {% include post-like.html post=post %}
{% elsif post.mf-bookmark %}
  {% include post-bookmark.html post=post %}
{% elsif post.mf-bookmark-of %}
  {% include post-bookmark.html post=post %}
{% elsif post.mf-repost-of %}
  {% include post-repost.html post=post %}
{% elsif post.mf2_repost-of %}
  {% include mf2_repost-of.html post=post %}
{% elsif post.mf2_in-reply-to %}
  {% include mf2_in-reply-to.html post=post %}
{% else %}
  {% include post-content.html post=post %}
{% endif %}

<small>
	<a href="{{post.permalink}}">{{ post.date | date: '%B %d, %Y - %H:%M'}}</a>
</small>