<div class="post-content e-content" itemprop="articleBody">
  {% if include.post.mf-like-of %}
    <p class="p-summary">
      👍 Liked: <a class="u-like-of" href="{{ include.post.mf-like-of.first }}" target="_blank" rel="noopener noreferrer">{{ include.post.mf-like-of.first }}</a>
      {% include rich-content.html url=include.post.mf-like-of.first %}
    </p>
  {% endif%}

  {% if include.post.mf-repost-of %}
    <p class="p-summary">
      🔁 Reposted: <a class="u-repost-of" href="{{ include.post.mf-repost-of.first }}" target="_blank" rel="noopener noreferrer">{{ include.post.mf-repost-of.first }}</a>
      {% include rich-content.html url=include.post.mf-repost-of.first %}
    </p>
  {% endif%}

  {{ content }}

</div>

{% include syndication.html post=include.post %}