---
---

@charset "utf-8";
@import "variables";
@import "remedy";
@import "grid";
@import "custom";
$fa-font-path: "fonts/font-awesome/";
@import 'font-awesome';

html {
    background: $bg;
    color: $text;
}


@media (prefers-color-scheme: dark) {
    body {
      color: $bg;
      background-color:$dark;
    }
  }
