---
layout: default
---
<div class="content is-medium">
<article class="content post h-entry">
  {% if page.mf-like-of != null %}
    {% include post-like.html post=page %}
  {% else %}
    {% include post-content.html post=page %}
  {% endif %}
  <footer class="entry-footer">
      <div class="box h-card p-author">
        <div class="media">
          <div class="media-content">
            <div class="content">
              <p><a href="{{ post.url | prepend: site.github.url }}">{{ page.title }} </a> posted on <time datetime="{{ page.date | date_to_xmlschema }}" class="dt-time post-date">{{ page.date | date_to_string }}</time>.</p>
            </div>
            <div class="tags">
              {% for tags in page.tags %}<span class="tag">{{ tags }} </span>{% endfor %}
            </div>
          </div>
        </div>
      </div>
</footer>
</article>
</div>
{% if site.webmentions %}
{% include webmentions.html %}
{% endif %}
